[Unit]
Description=log viewer

[Service]
WorkingDirectory=/home/isucon/log
PIDFile=/home/isucon/log/log.pid

User=isucon
Group=isucon
ExecStart=/usr/bin/logviewer
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target

